#lever-input {
  background: rgb(255, 90, 68);
  height: 2px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  /* style thumb */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(255, 90, 68);
    border: solid 2px rgb(255, 90, 68);
    cursor: pointer;
    clip-path: polygon(0 0%, 100% 50%, 0 100%, 0 0%);
    box-shadow: 0 4px 6px rgb(235, 144, 131);
  }
}

#checkbox-input {
  border: solid 1px rgb(255, 90, 68);
  height: 15px;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
